/*-----------------------------------------
Global Style 
------------------------------------------*/

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}


/*-----------------------------------------
Link Styles 
------------------------------------------*/

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: lightsalmon;
}


/*--------------------------------- 
Base Styles
-----------------------------------*/

#portfolio {
    padding-top: 50px;
    text-transform: uppercase;
}

.main-header {
    background-color: rgba(231, 231, 235, 0.297);
    padding-top: 10px;
    padding-bottom: 100px;
    text-align: center;
}

h1 {
    text-align: center;
}

h3 {
    text-align: center;
    padding-bottom: .6rem;
}

.main-nav {
    width: 100%;
}

.nav {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

li {
    display: block;
    list-style-type: none;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 16px;
}

img {
    width: 100%;
    padding-top: 50px;
    text-align: center;
    margin: auto;
}

p {
    padding: 15px;
    margin: 10px;
    text-align: center;
}

.calculator {
    margin-bottom: 100px;
}

footer {
    text-align: center;
    padding-top: 70px;
    margin: auto;
    background-color: rgba(231, 231, 235, 0.297);
}

.bottomnav {
    border-top: solid black 1px;
}

.name {
    float: left;
    background-color: rgba(231, 231, 235, 0.297);
    display: inline-block;
}

.backtop {
    float: right;
    text-transform: uppercase;
}


/*-----------------------------------------
Media Queries  
------------------------------------------*/

@media (min-width: 768px) {
    .main-header {
        padding-bottom: 125px;
    }
    .main-nav,
    .nav {
        font-size: 20px;
        flex-direction: row;
        justify-content: center;
    }
    .mainpic {
        float: right;
        width: 300px;
        padding: 10px;
    }
    .projects {
        float: left;
        width: 45%;
        padding: 5px;
    }
}